[package]
name = "todors"
version = "0.0.1"
authors = ["Nick Murphy <comfortablynick@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
log = "0.4.6"
dirs = "1.0"
regex = "1"
ansi_term = "0.11.0"
lazy_static = "1.3.0"
structopt = "0.2"
termcolor = "1"
# # for env_logger
# env_logger = "0.6"
# chrono = "0.4"
